---
title: [[ .Config.Title ]]
type: albums
weight: 2
bookToc: false
---

{{< gallery >}}
[[- range .Files]]
	{{< figure src="/albums/[[ $.Config.PathName ]]/[[ .ThumbnailPath ]]" link="/albums/[[ $.Config.PathName ]]/large/[[ .Name ]]" size="[[ .Large.Dx ]]x[[ .Large.Dy ]]" >}}
[[- end]]
{{< /gallery >}}