html {
    overflow-y: scroll;
}

body {
	background: #edf2f7;
	// background: #ff0000;
}

.navbar {
	background: #edf2f7;
}

.home-section {
	background: #edf2f7;
}

.home-section:nth-of-type(2n) {
	background: #edf2f7;
}

.playlists-container .search-header {
	background: #edf2f7;
}

.encrypted-hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

.encrypted-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
	box-sizing: border-box;
}

.encrypted-form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.encrypted-form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.encrypted-form .encrypted-decrypt-button {
	text-transform: uppercase;
	outline: 0;
	background: #4c516d;
	// background: #0e4d92;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.encrypted-form .encrypted-decrypt-button:hover, .encrypted-form .encrypted-decrypt-button:active, .encrypted-form .encrypted-decrypt-button:focus {
	background: #43A047;
}

.encrypted-html {
	height: 100%;
}

.encrypted-body {
	margin-bottom: 1em;
	background: #4c516d;
	// background: #0e4d92;
	font-family: "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.encrypted-instructions {
	margin-top: -1em;
	margin-bottom: 1em;
}

.encrypted-title {
	font-size: 1.5em;
}

.encrypted-footer {
	position: fixed;
	height: 20px;
	font-size: 16px;
	padding: 2px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

.encrypted-footer p {
	margin: 2px;
	text-align: center;
	float: right;
}

.encrypted-footer a {
	text-decoration: none;
}
