.playlists-container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.playlists-container:after {
    clear: both;
    content: "";
    display: block;
}
.playlists .folder {
    float: left;
    width: 50%;
}
.playlists .folder ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: disc;
    list-style-position: inside;
}
.playlists .folder li {
    font-size: 17px;
}
.playlists .folder li .details {
    font-size: 15px;
    color: #9f9f9f;
}
.playlist.recently-modified {
    font-weight: bold;
}
